main {
	position: relative;
}

#scatterplot-chart {
	width: 98%;
	margin: 20px auto;
}

#tooltip {
	position: absolute;
	width: 100px;
	background-color: whitesmoke;
	border: 1px solid #333;
	border-radius: 5px;
}

.dot {
	stroke:#333;
	stroke-width: 0.5px;
}

.dot:hover {
	fill: green;
}